<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/normalize.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">

        <title>Bienvenidxs a MercadoLiebre</title>
    </head>

<body>

    <header class="main-header">
            
            <div class= "main-header-top-bar">
                
                <div class="logo">
                    <img src="./img/logo-mercado-liebre.svg">
                </div>    

                <div class = "busqueda">                
                    <input type="text" placeholder="Buscar productos, marcas" required class= "formbus">
                    <i class = "fa fa-search fa search"></i>
                </div>

                <div class="texto-header">
                    <h2 class="copy-header">
                    <i class = "fa fa-hand-holding-usd fa" ></i> 
                    Compra en cuotas y sin tarjeta de crédito
                    </h2>
                </div>

            </div>   


            <a href="#" class= "hamburguer-button">
                <i class = "fa fa-bars fa- burger" ></i>
            </a>    

            <nav class ="main-navbar">
               
                <div class="navbar" >
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</i></a></li> 
                </ul>
                </div>                    

                <div class="navbar" >
                <ul class="right-navbar">
                    <li> <a href="register">Creá tu cuenta</a><i class = "fa fa-address-card fa" ></i></li> 
                    <li><a href="login">Ingresá</a><i class = "fa fa-sign-in-alt fa" ></i></li>
                    <li><a href="#">Mis compras</a><i class = "fa fa-shopping-basket fa" ></i></li>
                </ul>
                </div>

            </nav>

        </header>

       <section class= "banner">
             <img width= 100% src="./img/img-home-banner.jpg"  alt="Banner de ofertas" margin= 0px padding= 0px>
       </section> 

       <main>
       <section class="register">

        <form action="/" method="GET" class= create-form>
                <div class="control-formulario">
                    <label>Nombre y Apellido</label>
                    <input type="text" name="nombre" class="control">
                </div>


                <div class="control-formulario">
                    <label>Nombre de usuario</label>
                    <input type="mail" name="nombre" class="control">
                </div>


                <div class="control-formulario">
                    <label>Fecha de Nacimiento</label>
                    <input type="date" name="nombre" class="control">
                </div>

                <div class="control-formulario">
                    <label>Domicilio</label>
                    <input type="text" name="nombre" class="control">
                </div>

                <div class="control-formulario">
                    <label>Perfil de Usuario</label>
                        <div class="control-formulario1">
                            <div class="opciones">                   
                                <input type="checkbox" name="comprador" value="comprador">
                                <label for="">Comprador</label>
                            </div>    
                            <div class="opciones">                       
                                <input type="checkbox" name="vendedor" value="vendedor">
                                <label for="">Vendedor</label>
                            </div>
                        </div>
                </div>

                    
                <div class="control-formulario"> 
                    <label>Intereses</label>
                    <div class="control-formulario1">
                            
                            <div class="opciones">
                                    <input type="checkbox" name="catElectro" value="Electro">   
                                    <label for="Electro">Electro</label>
                            </div>
                            
                            <div class="opciones">
                                <input type="checkbox" name="catModa" value="Moda">
                                <label for="Moda">Moda</label>
                            </div>
                            
                            <div class="opciones">
                                <input type="checkbox" name="CatHogar" value="Hogar">
                                <label for="Hogar">Hogar</label>
                            </div>
                            
                            <div class="opciones">
                                <input type="checkbox" name="CatJugueteria" value="Jugueteria">
                                <label for="Jugueteria">Jugueteria</label>
                            </div>
                            
                            <div class="opciones">
                                <input type="checkbox" name="CatVidaSana" value="Vida Sana">
                                <label for="Vida Sana">Vida Sana</label>
                            </div>    
                        
                    </div>
                </div>

                <div class="control-formulario">
                    <label>Seleccionar una imagen para tu perfil</label>
                    <input type="file" name="foto" accept=".jpg" >
                </div>

                <div class="control-formulario">
                    <label>Contraseña:</label>
                    <input type="password" name="password" class="control">
                </div>

                <div class="control-formulario">
                    <label>Confirmar Contraseña:</label>
                    <input type="password" name="confpassword" class="control">
                </div>

                <button type="submit" class="boton-formulario">Enviar</button>
                <button type="submit" class="boton-formulario">Borrar</button>

        </form>
        </section> 
        </main>

        <footer>

            <section class="footerIconos">
            <article>
            <i class = "fa fa-credit-card iconos" ></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article>
                <i class = "fa fa-gift fa" ></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>

                      
            <article>
            <i class = "fa fa-user-shield fa" ></i>
            <h3>Seguridad, de principio a fin</h3> 
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>    

            </section>

            <section class="Copyrignt">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
            

        </footer>
       

    </body>

</html>

